body {
    background-color: #F4D19A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pag_title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #CE8C34;
    font-weight: bold;
}

.receita_seletor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.receita_tipo {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.receita_tipo:hover {
    transform: scale(1.1);
}

.receita_tipo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #CE8C34;
}

.redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.redes ul li {
    font-size: 24px;
}

.redes ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    text-decoration: none;
    color: #CE8C34;
}
